<!-- CustomButton.razor -->
<button style="background-color: @ButtonColor;  width: @(ButtonSize)px; height: @(ButtonSize)px;" @onclick="HandleButtonClick" >Text</button>
<!-- font-weight: ButtonFontWeight; -->

@code {
    [Parameter] public string? ButtonText { get; set; }
    [Parameter] public string? ButtonColor { get; set; }
    [Parameter] public string? ButtonSize { get; set; }
    //[Parameter] public string? ButtonFontWeight { get; set; }

    [Parameter] public EventCallback<string> ButtonColorChanged { get; set; }
    [Parameter] public EventCallback<string> ButtonSizeChanged { get; set; }
    //[Parameter] public EventCallback<string> ButtonFontWeightChanged { get; set; }

    private async Task HandleButtonClick()
    {
        // Update the FontWeight property first
        //ButtonFontWeight = "bold";

        // Invoke the ButtonFontWeightChanged event to notify parent component
        //await ButtonFontWeightChanged.InvokeAsync(ButtonFontWeight);

        // Invoke the ButtonColorChanged event to notify parent component
        await ButtonColorChanged.InvokeAsync(ButtonColor);

        // Update the ButtonSize property first
        ButtonSize = "large"; 

        // Invoke the ButtonSizeChanged event to notify parent component
        await ButtonSizeChanged.InvokeAsync(ButtonSize);
    }

}