        /* Style for the Body */


        body {
            background-color: #E2DFDF;
        }  

        h1, p {
            align-items: center;
        }
        
        
        /* Style for the lef
        t and right boxes */
        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            border: 1px solid #ccc;
        }
        .text-strip {
            background-color: #D9D9D9;
            padding: 10px;
            text-align: center;
            width: 100%;
            font-family: Karla, sans-serif;
            font-size: 24px;
        }
        .left-box, .right-box {
            /*width: 48%;  Adjust as needed */
            width: calc(48% - 20px);
            height: 350px;
            background-color: #CDCDCD;
            border-radius: 10%;
        }

        /* Style for Right Box */
        .button-preview {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75%;
            /* position: relative;*/
        }
        /*
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }*/



        /* Style for the Left Box */
        .left-box {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .input-field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%; 
            margin-bottom: 10px; /* Add spacing between input fields */
            margin-right: 60px;
        }

        .input-field label {
            width: 40%; 
            text-align: right;
        }

        .input-field input[type="color"],
        .input-field input[type="range"] {
            width: 50%;
        }
