@page "/generate"
@using WebBuilder.Data
@inject TemplateService TemplateService

<!-- Include scoped CSS file -->
<link rel="stylesheet" href="Generate.razor.css" />


<!-- Structure of the Page -->
<body>
    <h1>Test Hello World</h1>

</body>
<!-- End of the HTML Structure -->


<!-- Template Condition -->
@if (TemplateService.CurrentTemplate.TemplateName == "template1")
{
    <h1>Template 1</h1>
    <p>Template 1 Description</p>
    <!-- Ask the user to input text for Template 1 -->
}
else if (TemplateService.CurrentTemplate.TemplateName == "template2")
{
    <h1>Template 2</h1>
    <p>Template 2 Description</p>
    <!-- Ask the user to input text for Template 2 -->
}
<!-- End of Template Condition -->


<!-- Code Section -->
@code {
    // Code Section
}