@page "/generate"
@using WebBuilder.Data
@inject TemplateService TemplateService

<!-- Include scoped CSS file -->
<link rel="stylesheet" href="Generate.razor.css" />


<!-- Structure of the Page -->
<body>
    <div class="row">
        <div class="col-md-6">
            <h2>Input (@currentInputIndex/@inputs.Count)</h2>
            <label for="inputText">Text:</label>
            <textarea id="inputText" @bind="inputs[currentInputIndex - 1]" class="form-control"></textarea>
            <button @onclick="PreviousInput" class="btn btn-secondary">Back</button>
            <button @onclick="NextInput" class="btn btn-primary">Next</button>
        </div>
        <div class="col-md-6">
            <h2>Preview</h2>
            @if (TemplateService.CurrentTemplate.TemplateName == "template1")
            {
                <h1>Template 1</h1>
                @foreach (var input in inputs)
                {
                    <p>@input</p>
                }
            }
            else if (TemplateService.CurrentTemplate.TemplateName == "template2")
            {
                <h1>Template 2</h1>
                @foreach (var input in inputs)
                {
                    <p>@input</p>
                }
            }
        </div>
    </div>
</body>



<!-- Code Section -->
@code {
    private string inputText = "";
    private List<string> inputs = new List<string>(Enumerable.Repeat("", 15));
    private int currentInputIndex = 1;

    private void NextInput()
    {
        if (currentInputIndex < inputs.Count)
        {
            currentInputIndex++;
        }
    }

    private void PreviousInput()
    {
        if (currentInputIndex > 1)
        {
            currentInputIndex--;
        }
    }
}