@page "/text"

<!-- Include scoped CSS file -->
<link rel="stylesheet" href="Text.razor.css" />


<!-- Structure of the Page -->
<body>
    <h1>Test Hello World</h1>

</body>
<!-- End of the HTML Structure -->


<!-- Code Section -->
@code {
    // Code Section
}